<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>New Post Notification</title>
</head>

<body style="margin: 0; padding: 0; text-align: center; background-color: #ffffff; line-height: 1.5">
  <div>
    <!-- <img style="
          margin-top: 3.125%;
          width: 10%;
          background-size: cover;
          display: inline-block;
        " class="logo"
            src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1683010702/samples/mobile%20app/PebbleScore_logo_no_name_zsex0f.png"
            alt="PebbleScore Logo" /> -->
  </div>
  <div style="
        height: 3.125vw;
        max-height: 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3.125vw;
        color: #2a286a;
      " class="pebbleScore">
    FPI Muslim Community Cooperative
  </div>
  <div style="
        margin-top: 6.375%;
        margin-bottom: 1.5625%;
        border: 0.1rem solid #ffd338;
      "></div>
  <div style="
        margin-top: 6.125%;
        margin-bottom: 1.5625%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        color: #416475;
      " class="greeting">
    Hi {{NAME}}
  </div>
  <div style="
        margin-top: 6.125%;
        margin-bottom: 1.5625%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        color: #416475;
      " class="greeting">
    Here is the latest update: {{POST_TITLE}}. Open your app to read the entire information.
  </div>
  <div style="
        margin-top: 6.125%;
        margin-bottom: 1.5625%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        color: #416475;
      " class="greeting">
    If you have any question, kindly contact us at
  </div>
  <div style="
        margin-top: 3.125%;
        margin-bottom: 1.5625%;
        height: 3.125vw;
        max-height: 19px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 3.5vw;
        line-height: 4.2vw;
        color: #2a286a;
      " class="email-text">
    temyuph@gmail.com
  </div>
  <div style="
        margin-top: 11.375%;
        margin-bottom: 1.5625%;
        font-family: 'Inter';
        font-style: normal;
        height: 3.125vw;
        max-height: 19px;
        font-weight: 600;
        font-size: 4.5vw;
        line-height: 4.2vw;
        color: #e88196;
      " class="support-team">
    FPI Muslim Community Cooperative Support Team
  </div>
  <div style="
        margin-top: 6.375%;
        margin-bottom: 1.5625%;
        border: 0.1rem solid #ffd338;
      "></div>
  <div style="margin-top: 2.5rem; margin-bottom: 0.5rem">
    <a href="#" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1682955200/twitter_logo_u9hnuj.svg" alt="Twitter"
        style="width: 0.9rem; height: 0.9rem" />
    </a>
    <a href="#" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1682955199/fb_logo_gzgosp.svg" alt="Facebook"
        style="width: 0.9rem; height: 0.9rem" />
    </a>
    <a href="#" style="margin: 0.2rem; padding: 0.2rem;text-decoration: none">
      <img src="https://res.cloudinary.com/dgi7yxxpz/image/upload/v1682955200/linkedin_logo_wxelwt.svg" alt="linkedin"
        style="width: 0.9rem; height: 0.9rem" />
    </a>
  </div>
  <footer style="
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        height: 2rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1;
        color: #7f7ea6;
      ">
    <p>Copyright &copy; 2023 FPI MCICS</p>
  </footer>
</body>

</html>